@charset "utf-8";
/* CSS Document */

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.7rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1.1rem;
}

p {
	font-size: 0.9rem;
}

/************************** HEADER ***********************/

.logo{
	height: 90%;
}

.toggle {
	display: inline-block;
	font-size: 27px;
}

.menu {
	width: 92%;
	display: none;
	overflow: hidden;
	padding-left: 0;
	margin-left: 0;
}

.menu li {
	display: block;
	text-align: center;
	float: none;
	background-color: white;
	outline: 1px solid lightgray;
}

.active{
	display: block;
}

.menu a, .dropdown-bottum {
	padding: 7px;
}

.menu li.dropdown {
	display: block;
}


.dropdown-content {
	background-color: #EFEFEF;
	width: 100%;
	outline: 1px solid lightgray;
	position: static;
}

.dropdown-content a {
	outline: 1px solid lightgray;
	font-style: italic;
	
}	

.menu li a:hover, .dropdown:hover .dropdown-bottum{
	background-color: lightblue;
	width: 100%;
}


#navbar {
	top: 0;
  	transition: none;
}

.burger {
	width: 15%;
	height: auto;
	float: right;
	margin-right: 10px;
}


p .text {
	display: none;
}

/************************** COVER ***********************/

.cover {
	margin-top: 60px;
}


/************************** OPGAVSIDERNE ***********************/
#myBtn, #myBtn2, #myBtn3 {
	padding: 10px;
}


/************************** LARING ***********************/

.adobeikon {
	width: 30%;
	height: auto;
}


/************************** KONTAKT ***********************/
.buttom-submit {
	width: 30%;
	padding: 15px;
	margin-top: 20px;
}