@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* font-family: 'Open Sans', sans-serif; */
/* Størrelse-wieght: 
Light 300
Regular 400
Semi-bold 600
Bold 700
Extra bold 800
*/


body {
	font-family: "Open Sans", sans-serif;
}

h1{
	margin-top: 60px;
	font-size: 2.3rem;
}

h2 {
	margin-top: 50px;
	font-size: 2rem;
	padding-bottom: 5px;
}

h3{
	margin-top: 40px;
	font-size: 1.5rem;
	padding-bottom: 5px;
}

h4 {
	font-size: 1.2rem;
	margin-top: 25px;
	padding-bottom: 3px;
	text-decoration: underline;
}

p {
	padding: 5px;
	line-height: 22px;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	display: block;
	list-style-type: disc;
	/*margin-top: 1em;*/
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
	line-height: 28px;
}

ol {
    display: block;
    list-style-type: decimal;
    /*margin-top: 1em;*/
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
	line-height: 28px;
}

i{
	font-style: italic;
}

.afstand {
	margin-top: 30px;
}

/************************** HEADER ***********************/
.menu{
	list-style-type: none;
	overflow: hidden;
	display:inline;
}

.menu li {
	float: right; 

}

.menu a, .dropdown-bottum {
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	color: black;
	height: 100%; 
}

.menu li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 200;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.menu li a:hover, .dropdown:hover .dropdown-bottum{
	background-color: lightgray;
	border: none;
}

.dropdown-content a:hover {
	background-color: lightgray;
}

.logo {
	height: 100%;
	width: auto;
}

#navbar {
	background-color: white;
	height: 60px;
	width: 98%;
	max-width: 1280px;
	position: fixed;
	top: -60px;
	display: block;
  	transition: top 0.3s;
}

#navbar_ikkeforside {
	background-color: white;
	height: 60px;
	width: 98%;
	max-width: 1280px;
	position: fixed;
	display: block;
	top: 0;
}


#menu {
	height: 60px;
	background-color: white;
	width: 80%;
	position: fixed;
	text-align: right;
}

.toggle{
	box-sizing: border-box;
	font-size: 30px;
	float: right;
	margin-right: 5%; /** SKAL VÆRE MERE PÅ MOBIL **/
	margin-top: 3%; /** SKAL VÆRE MERE PÅ MOBIL **/
	display: none;
}


/************************** COVER ***********************/
.cover {
	width: 100%;
	height: auto
}

.padcover {
	padding: 0;
	height: auto;
	margin: 0;
}


/************************** FORSIDE ***********************/
.billeder{
	width: 100%;
	height: auto;
	z-index: -1;
	position: relative;
	-webkit-filter: grayscale(50%);
	filter:grayscale(50%);
}

.learning {
	background-color: lightgray;
	width: 100%;
	height: 287px;
}

.learning_text {
	width: 100%;
	text-align: center;
	padding: 45% 0 0;
	font-size: 1.2rem;
}


@media handheld, only screen and (min-width: 767px) {
	.hideondesktop {
		display: none !important;
	}	
	
	.heffekt {
	  position: relative;
	}

	.heffekt img {
	  display: block;
	  width: 100%;
	  height: auto;
	}

	.overlay {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background-color: lightgray;
	}

	.heffekt:hover .overlay {
	  opacity: 1;
	}

	.text {
	  color: black;
	  font-size: 1.2rem;
	  position: absolute;
	  top: 50%;
	  left:45%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  padding: 0;
	}
} /** Media slut **/

.fed {
	font-weight: bold;
}



/************************** OPGAVE SIDERNE ***********************/
.tilpasbilled {
	width: 80%;
	height: auto;
	margin-left: 7%;
	margin-right: auto;
}

.ramakebillede {
	width: 100%;
	height: auto;
}

.billed_opg {
	width: 60%;
	height: auto;
}

.flowikon {
	width: 15%;
	height: auto;
}

hr{
	margin-top: 30px;
	border: 1px solid lightgray;
}

#more, #more2, #more3 {
	display: none;
}

#myBtn, #myBtn2, #myBtn3 {
	border-radius: 3px;
	padding: 5px;
	display: block;
	margin-top: 10px;
	background-color: white;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 4px gray;
	
}



/************************** LÆRING ***********************/
.adobeikon{
	width: 40%;
	margin-top: 10px;
}

.link {
	font-style: italic;
}


/************************** BILLEDSIDERNE ***********************/
.billed_side{
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.billed_staende{
	height: 100%;
	width: auto;
	margin-left: 22%;
}
.billed_staende2{
	width: 50%;
	height: auto;
	margin-left: 22%;
}

.billed_liggende{
	width: 100%;
	height: auto;
}

	/* The Modal (background) */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 40px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: black;
	}

	/* Modal Content */
	.modal-content {
	  position: relative;
	  margin: auto;
	  padding: 0;
	  width: 90%;
	  max-width: 1200px;
	}

	/* The Close Button */
	.close {
	  color: white;
	  position: absolute;
	  top: 10px;
	  right: 25px;
	  font-size: 35px;
	  font-weight: bold;
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	.mySlides {
	  display: none;
	}

	.cursor {
	  cursor: pointer;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: white;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	.active:hover {
	  opacity: 1;
	}

/************************** KONTAKT ***********************/

textarea {
	height: 100px;
}

input, textarea {
	width: 100%;
	resize: none;
	border-bottom: solid 1px lightgray;
	border-top: none;
	border-left: none;
	border-right: none;
}

.contactlabel {
	margin-bottom: 0;
	padding-top: 20px;
	margin-left: 0;
	padding-left: 0;
}

.buttom-submit {
	width: 25%;
	padding: 10px;
	margin-top: 20px;
}



/************************** FOOTER ***********************/

.stylefooter{
	margin-top: 20px;
	border-top: solid 1px lightgray;
}

.tekstfooter {
	font-size: 0.8rem;
	padding: 0.8rem 0;
}

.socialemedie{
	width: 20px;
	padding: 5px;
}

.socialemedie_mobil{
	width: 100%;
	height: auto;
}

.right {
	float: right;
}




