@charset "utf-8";
/* CSS Document */


h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1.1rem;
}

p {
	font-size: 0.9rem;
}
ul, ol {
	line-height: 25px;
	font-size: 0.9rem;
}

/************************** HEADER ***********************/

.logo{
	height: 100%;
	padding-top: 2px;
}

.toggle {
	display: inline-block;
	font-size: 27px;
	margin-top: 1%;
	margin-right: 2.5%;
}


.menu {
	width: 99%;
	display: none;
	overflow: hidden;
	padding-left: 0;
	margin-left: -5px;
	margin-top: -5px;
	transform: rotate(180deg);
	box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.2);
}

.menu li {
	display: block;
	text-align: center;
	float: none;
	background-color: white;
	outline: 1px solid rgba(210,210,210,1.0);
	transform: rotate(-180deg);
}

.active{
	display: block;
}

.menu a, .dropdown-bottum {
	padding: 7px;
}

.menu li.dropdown {
	display: block;
}


.dropdown-content {
	width: 100%;
	outline: 0.5px solid rgba(210,210,210,1.0);
	position: static;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.13);
}

.dropdown-content a {
	outline: 0.5px solid rgba(210,210,210,1.0);
	font-style: italic;
	font-size: 0.72rem;
	
}	

.menu li a:hover, .dropdown:hover .dropdown-bottum{
	background-color: rgba(210,210,210,1.0);
	width: 100%;
}


#navbar, #navbar_ikkeforside {
	top: 0;
  	transition: none;
	background-color: white;
	height: 50px;
}

.burger {
	width: 15%;
	height: auto;
	float: right;
}

p .text {
	display: none;
}

a.hererdu, a.hererdu_drop{
	background-color: rgba(210,210,210,0.20);
	width: 100%;
}




/************************** COVER ***********************/

.cover {
	margin-top: 33px;
}


/************************** FORSIDE ***********************/
.baggrund{
	text-align: center;
	margin-top:-2px;
	margin-right: -2px;
	border-radius: 0 0 6px 6px;
	border: 1px solid lightgray;
	border-top: none;
}

.boks{
	border: 1px solid lightgray;
	border-radius: 6px 6px 0 0;
	border-bottom: none;
}

.billeder {
	-webkit-filter: grayscale(10%);
	filter:grayscale(10%);
}

/************************** OPGAVSIDERNE ***********************/
#myBtn, #myBtn2, #myBtn3 {
	padding: 10px;
}

.sitemap{
	width: 50%;
	margin-right: auto;
	margin-left: 20%;
}

.fed{
	margin-bottom: -10px;
}

/************************** LARING ***********************/

.adobeikon {
	width: 30%;
	height: auto;
}


/************************** BILLEDSIDER ***********************/
.modal-content {
	max-width: 960px;
}

.billed_staende2{
	width: 90%;
	margin-left: 5.5%;
}

.billed_liggende {
	margin: 29.3% 0 38%;
}

.billed_firkant {
	width: 85%;
	margin: 20% 0 30% 8.5%;
}

.prev, .next {
	padding: 7px;
	background-color: rgba(210, 210, 210, 0.8);
	opacity: 0.8;
} 

.close {
	margin-right: 0%;
	margin-top: -10px;
}


/************************** KONTAKT ***********************/
.buttom-submit {
	width: 30%;
	padding: 15px;
	margin-top: 20px;
}


/************************** FOOTER ***********************/
.socialemedie_mobil{
	width: 93%;
	height: auto;
}

.socialemedie {
	display: inline-block;
}

.mobil_midt{
	margin-right: auto;
	margin-left: 30%;
}




/************************** MOBIL ***********************/
@media screen and (max-width: 480px){
	.toggle {
		margin-top: 4%;	
		margin-right: 7%;
	}

	.menu {
		width: 93.5%;
	}
	
	.cover {
		margin-top: 25px;
	}
	
	.billed_liggende {
	margin: 33% 0 35%;
	}
	
	.adobeikon {
		width: 20%;
	}
	
	.close{
		margin-top: -30px;
	}
	
}/*MEDIA SLUT*/



